.head {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;

    .translate(-50%, -50%);

    text-align: center;
    z-index: 9;

    @media @phone {
      width: 80%;
    }

    h1 {
      color: white;
      font-size: 65px;
      font-weight: 300;
      margin-bottom: 0.5em;

      @media @phone {
        font-size: 36px;
      }
    }

    h2 {
      color: white;
      font-size: 47px;
      font-weight: 300;

      @media @phone {
        font-size: 28px;
      }
    }
  }
}

.wrapper {
  padding: 8em 0em 8em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @media @phone {
    padding: 6em 0em 6em;
  }

  h2 {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 44px;

    @media @phone {
      font-size: 24px;
    }
  }

  h3 {
    font-size: 24px;
    font-weight: 300;

    @media @phone {
      font-size: 15px;
    }
  }

  h4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

    @media @phone {
      font-size: 16px;
    }
  }

  p {
    font-size: 22px;
    font-weight: 300;

    @media @phone {
      font-size: 14px;
    }
  }

  &.dark {

    background: black;

    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0f1217;
    background-image: url("http://res.cloudinary.com/dd1ixvdxn/image/upload/v1517993642/bg-blur_i8i7ua.jpg");
    background-attachment: scroll;
    left: 0px;
    background-position: 50% -34px;

    h2,
    h3,
    h4 {
      color: white
    }

    p {
      color: #90979e;
    }
  }

  &.mission {
    p {
      @media @phone {
        font-size: 16px;
      }
    }
  }

  &.strength {
    p {
      font-size: 17px;
      margin-top: 30px;
      margin-bottom: 30px;

      @media @phone {
        font-size: 14px;
      }
    }
  }

  &.portfolio {

    .ant-row {

      padding-top: 18px;

      &>div {
        margin-bottom: 44px;

        img {
          @media @phone {
            max-width: 100px;
          }
        }
      }
    }
  }

  &.team,
  &.advisor {

    h4 {
      margin-top: 20px;

      @media @phone {
        font-size: 16px;
      }
    }

    p {
      font-size: 17px;
      line-height: 28px;

      @media @phone {
        font-size: 14px;
      }
    }

    img {
      width: 100%;
      max-width: 300px;
    }

    .ant-row>div {
      margin-bottom: 30px;
    }
  }

  &.contact {
    .ant-form-item {

      label {
        font-size: 16px;
        color: white;
      }

      input {
        font-size: 16px;
      }
    }
  }

  &.info {
    background-color: #202322;
    background-image: none;

    h5 {
      color: white;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 2.5em;
    }

    p {

      @media @phone {
        font-size: 14px;
      }
    }

    .ant-row {

      &>div {
        margin-bottom: 18px;
      }

      div:nth-child(1) {
        text-align: left;
        ul {
          display: block;
        }
      }

      div:nth-child(2) {
        text-align: left;
      }

      div:nth-child(3) {

        text-align: left;
        padding-left: 22px;

        @media @phone {
          padding-left: 0px;
        }

        ul {
          display: block;
        }

        p {
          margin: 0px;
        }
      }
    }
  }

  &.map {
    height: 400px;
    padding: 0px;
    background-image: url("http://res.cloudinary.com/dd1ixvdxn/image/upload/v1518006879/map_pldai5.png");
    background-size: cover;
    background-position: center;

    @media @phone{
      height: 250px;
    }
  }
}

.horizontalWrapper {
  margin-left: auto;
  margin-right: auto;

  @media @phone {
    padding-left: 16px;
    padding-right: 16px;
  }
  @media @tablet-strict {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media @desktop-strict {
    max-width: 940px;
    padding-left: 0px;
    padding-right: 0px;
  }

  @media @xl {
    max-width: 80%;
    padding-left: 0px;
    padding-right: 0px;
  }

  @media @xxl {
    max-width: 65%;
    padding-left: 0px;
    padding-right: 0px;
  }
}

ul {

  display: flex;
  text-align: left;

  li {

    p {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}