@bgColorBlack: #010015;
@bgColorPurple: #2e216c;
@btnColor: white;
@btnBgColor: #ca890f;
@fontColor: #939393;
@sliderRest: #e74f4b;

#dicepage {
    background-color: @bgColor;
    padding-top: 80px;
    padding-bottom: 80px;

    .wrapper {
        margin-left: auto;
        margin-right: auto;
        padding: 0px;

        @media @phone {
            padding-left: 16px;
            padding-right: 16px;
        }

        @media @tablet-strict {
            padding-left: 24px;
            padding-right: 24px;
        }

        @media @desktop-strict {
            max-width: 940px;
            padding-left: 0px;
            padding-right: 0px;
        }

        @media @xl {
            max-width: 90%;
            padding-left: 0px;
            padding-right: 0px;
        }

        @media @xxl {
            max-width: 90%;
            padding-left: 0px;
            padding-right: 0px;
        }

    }

    .container {
        margin: 50px 0px 80px;
        text-align: center;
        position: relative;

        .holderBorder{
            border-radius: 20px;
            background-color: @panelGrey;
            border: 1px solid @borderColor;
            overflow: hidden;
        }

        .action {
            color: white;
            padding: 60px;
            padding-top: 90px;

            @media @phone {
                padding: 10px;
            }

            .label {
                color: @fontColor;
                text-transform: uppercase;
                display: block;
                overflow: hidden;
                word-break: break-word;
                font-weight: 500;
                font-size: 1.5em;

                @media @desktop {
                    height: 32px;
                }
            }

            .box {
                border-radius: 10px;
                margin: 20px 20px;
                padding: 0px 20px 0 20px;

                @media @desktop {
                    margin: 0px 12px;
                }

                @media @phone {
                    padding: 0px;
                }

                .value {
                    color: white;
                    font-size: 3em;
                    margin-top: 20px;
                }

                .ratio{
                    margin-top: 0;
                    font-size: 5em;
                    font-style: italic;
                    font-weight: 600;
                    color:@borderColor;
                    filter:drop-shadow(3px 3px 0px #a27d34);
                }

                

            }

            .btn-login {
                width: 70%;
                height: 50px;
                margin-top: 20px;
                font-size: 1.5em;
                text-transform: uppercase;
                background-color: @borderColor;
                color: black;
                border-color: @btnColor;
                border: none;
                border-radius: 20px;
                margin-bottom: 12px;
            }

            .bet_description{
                font-size: 1.5em;
                color:@fontColor;
                letter-spacing: 2px;
            }

            .bet_value{
                font-size: 1.5em;
                font-weight: 400;
                color:white;
                letter-spacing: 2px;

                .highlight{
                    color: @primaryColor;
                    font-size: 0.8em;
                }
            }

            .inputBorder{
                background-color: transparent;
                border: 2px solid @borderColor;
                color: white;
                border-radius: 10px;
                font-size: 2em;
                height: 45px;
                text-align: center;
            }

            .ant-input-number-handler{
                display: none;
            }

            .change_value_button{
                height: 40px;
                width: 40px;
                background-color: @borderColor;
                color:black;
                border: none;
                border-radius: 50%;
                font-size: 2em;
                font-weight: 100;
                margin: 5px 0px;
                transition:0.3s all;
                cursor: pointer;
                transition: all 0.2s;

                @media @phone{
                    height: 30px;
                    width: 30px;
                }

                &:focus{
                    outline: none;
                }

                &:hover{
                    background-color: @primaryColor;
                }
            }

        }

        // General style for input number
        .ant-input-number {
            width: 50%;

            .ant-input-number-input-wrap {
                .ant-input-number-input {
                    height: 40px;
                    font-size: 1.8em;
                    font-weight: 500;
                    text-align: center;
                }

            }

        }

        .timer {
            font-size: 3em;
            font-weight: 700;
            letter-spacing: 2px;
        }

        .slider {
            padding-top: 20px;
            padding-bottom: 20px;

            .ant-slider-rail{
                height: 8px;
                border-radius: 4px;
                background-color: @sliderRest;
            }

            .ant-slider-track{
                height: 8px;
                background-color: @borderColor;
            }

            .ant-slider-handle{
                width: 25px;
                height: 25px;
                background-color: @primaryColor;
                border:none;
                transform: translateY(-3px);
            }

        }

        .bet_button{
            border:none;
            background-color: transparent;
            font-size:1em;
            color:white;
        }

        .history {
            text-align: center;

            .ant-tabs-nav-scroll {
                text-align: center;
            }

        }

        .currency_change{
            position: absolute;
            right: 15px;
            top: 15px;
            width: 200px;
            height:50px;
            border: 2px solid @borderColor;
            font-size: 2em;
            border-radius: 28px;
            overflow: hidden;

            .bet_button{
                height:100%;
                width:50%;
                border-radius: 0;
                color: @fontColor;
            
                &:first-child{
                    border-right: 2px solid @borderColor
                }

                &.active{
                    color: @borderColor;
                    background-color:#313131;
                }
            }
        }
    }

    #chatroom {
        @fontSize: 1.2em;

        ul {
            padding: 40px;
            display: block;
            color: white;
            height: 480px;
            margin: 0;
            overflow-y: scroll;
            border-radius: 10px;
            font-size: @fontSize;
            list-style: none;
            word-wrap: break-word;
            font-size: 1.2em;

            li.user {
                .username {
                    font-size: @fontSize;
                    font-weight: 700;
                    overflow: hidden;
                    padding-right: 15px;
                    text-align: right;
                }

                /* Input */
                .body {
                    font-size: @fontSize;
                }

            }

            li.system {
                color: #eee;
                margin: 5px;
                text-align: center;
            }

        }

        .form {
            padding-top: 26px;
            padding-bottom: 20px;
            @height: 30px;

            input {
                border: none;
                border-bottom: 1px solid @borderColor;
                border-radius: 0;
                background-color: transparent;
                height: @height;
                outline: none;
                padding-left: 12px;
                width: 100%;
                font-size: 1.5em;
            }

            button {
                width: 100%;
                background-color: @borderColor;
                border-radius: 20px;
                color: @btnColor;
                text-transform: uppercase;
                font-weight: 300;
                height: @height;
                font-size: 1.5em;
                border: none;
                color:black;
            }

        }

        .info {
            color: white;
        }

    }

    #tables {
        .ant-table,
         {
            color: white;
            background-color: @panelGrey;

            & *{
                background-color: transparent;
            }

            .ant-table-placeholder{
                border-bottom: none;
            }
            
            .ant-table-body::after{
                content:' ';
                height:1px;
                color:white;
                background: #fff;
                width:300px;
            }

            .ant-table-thead th {
                color: white;
                text-align: center;
                font-size: 1.5em;
            }
        }

        .ant-tabs-nav-scroll{
            border-bottom: none;
        }

        .ant-tabs-ink-bar{
            display: none !important;
        }

        .ant-tabs-tab{
            color:@borderColor;
            font-size: 1.2em;
        }

        .ant-tabs-tab-active{
            color:@panelGrey;
            background: @borderColor;
            border-radius: 20px;
        }
        
        .ant-table-placeholder{
            border-top:1px solid white;
            margin: 0 30px;
        }

        .ant-table-row{
            &>*{
                border:none;
            }

            td{
                text-align: center;
                font-size: 1.5em;
            }
        }

        .ant-tabs-bar{
            border-bottom: none;
        }

    }

}
