@borderRadius: 20px;
@fontColor: #939393;
@titleSize: 3em;
@subTitleSize: 2em;
@thirdTitleSize: 1.5em;
@borderColor: #d5bd7a;

@phonePadding: 8px;	//padding-left and padding-right for the page on mobile

#faq-page {
	// .container {
		// 	border: 1px solid @borderColor;
		// 	background-color: @panelGrey
		//
	// }

	.wrapper{
		padding-top:100px;
		padding-left:@phonePadding;
		padding-right: @phonePadding;
		&.wrapper_stake{
			padding-top: 80px;
		}
	}

	color:white;

	.page-title {
		text-align: left;
		margin-bottom: 32px;
		color: @fontColor;
		font-size: @titleSize;
		font-weight: 400;

		@media @phone{
			text-align: center;
			margin-bottom: 12px;
		}
	}
	.tabpane-title{
		@media @phone {
			font-size: 1.2em;
			margin-bottom: 1em;
		}
	}
	.page-sub-title {
		text-align: center;
		margin: 15px 0;
		color: @borderColor;
		font-size: @subTitleSize;
		font-weight: 300;
		letter-spacing: 1px;
		height: 40px;
		overflow: hidden;
		&.sub_title_stake{
			@media @phone{
				margin: 10px 0;
				height: auto;
			}
		}
		&.stake_block{
			@media @phone{
				margin: 16px 0;
			}
		}
		@media @phone{
			height: 35px;
		}
	}

	.page-third-title {
		text-align: center;
		color: @borderColor;
		font-size: @thirdTitleSize;
		font-weight: 300;
		letter-spacing: 1px;
	}

.page-dividend-section-title{
			text-align: left;
			margin-top: 15px;
			margin-bottom: 15px;
		}

		.icon-container{
			padding:20px;

			@media @phone{
				padding: 12px;
			}
		}

	.page-dividend{
		margin-top: 30px;

		@media @phone{
			margin-top: 0px;
		}

		.page-dividend-detail{
			margin-top: 30px;

			@media @phone{
				margin-top: 18px;
			}

			.page-dividend-detail-box{
				padding-top:20px;
				padding-bottom: 12px;

				p:first-child:not(.third_title_stake){
					height: 54px;
					overflow-y: hidden;
					padding-left:12px;
					padding-right:12px;
				}

				p:last-child{
					color: white;
				}
			}

			.page-dividend-detail-bottom{
				height: 85px;
				display: flex;
				justify-content: center;
				&.dividend_stake{
					height:50px;
					padding-left: 20px;
				}

&>div:nth-of-type(1){
					max-width: 30%;
				}

				&>div:nth-of-type(2){
					padding-left: 12px;
				}
		&>div:nth-of-type(3){
			padding-left:4px;
					flex-grow: 2;
				}
				&>div:last-of-type{
					height: 100%;
					min-width: 24%;
				}
			}
		}

	}

	//-------ANTD clear group------
	.clear-btn {
		background-color: transparent;
		color: @bgColor;
		border: none;
		font-size: @thirdTitleSize;
	}

	.clear-input {
		background-color: transparent;
		border: none;
		outline: none;

		&:focus {
			outline: none;
		}

	}

	.ant-input:focus {
		outline: none;
		border: none;
	}

	//-------ANTD clear group------

	.border-top {
		border-top: 2px solid @borderColor;
	}

	.border-bottom {
		border-bottom: 2px solid @borderColor;
	}

	.border-left {
		border-left: 2px solid @borderColor;
	}

	.border-right {
		border-right: 2px solid @borderColor;

		@media @phone{
			border-right: none;
		}
	}

	.margin-top(@value) {
		margin-top: @value;
	}

	.text-left {
		text-align: left;
	}

	.text-right {
		text-align: right;
	}

	.text-center {
		text-align: center;
	}

	.panel {
		border: 1px solid @borderColor;
		background-color: @panelGrey;
		border-radius: @borderRadius;
		overflow: hidden;
	}

	.panel-trans {
		border: 1px solid @borderColor;
		background-color: transparent;
		border-radius: @borderRadius;
		overflow: hidden;
	}

	.getStake-btn-holder {
		padding: 15px 0;
		background-color: @borderColor;

		.getStake-btn {
			background-color: transparent;
			color: @bgColor;
			border: none;
			font-size: @thirdTitleSize;
			height: 100%;
		}

	}

	.stake-container {
		.panel-trans {
			.panel-trans {
				border-radius: 10px;
			}

		}

		.page-third-title {
			margin: 5px 0;
		}

		.stake-container-body{
			margin-top: 30px;

			@media @phone{
				margin-top: 18px;
			}

		.stake-container-body-inner{
			padding: 20px;

			.stake-container-body-inner-input{
				display: flex;
				flex-direction: row;
				height: 45px;

				&>*{
					display: inline-block;
				}

				&>*:nth-child(1){ // Image container
					height: 100%;
					width: 100px;
					position: relative;

					img{
						position:absolute;
						top: 50%;
            left: 50%;
            .transform(translate(-50%, -50%));

            @media @phone{
            	width: 24px;
            }
					}
				}

				&>*:nth-child(2){ // Input
					height: 100%;
					flex-grow: 2;
					color: white;
					font-size: 1em;
					padding-left: 5px;
					outline: none;

						&:focus {
						outline: none;
						}
					}

				button{	// button
					height: 100%;
					background-color: @borderColor;
					border-radius: 0px;
					color: @bgColor;
					font-size: 0.8em;
				}
			}
		}
	}

	}

	.faq-tabs {
		.ant-tabs-bar {
			border: 1px solid @borderColor;
			background-color: @panelGrey;
			padding: 10px 0px;
			.border-radius(@borderRadius);

			.ant-tabs-tab {
				color: @primaryColor;
				border: none;
				margin-bottom: 0px;
				padding-top: 12px;
				padding-bottom: 12px;
				//width: 160px;
				width:240px;
				font-size: 1.1em;
			}

			.ant-tabs-nav-container {
				margin-right: 2px;
			}

			.ant-tabs-tab-active {
				background-color: @bgColor;

			}

			.ant-tabs-ink-bar {
				width: 0px;
			}

		}

		.ant-tabs-content {
			border: none;
			height: 850px;
			padding-left: 48px;
			color: white;
			text-align: left;

			.ant-tabs-tabpane-active{
				overflow: scroll;
				height: 100%;
			}

			.tabpane-title {
				color: @primaryColor;
				font-size: 2em;
				margin-bottom: 1em;
				border-bottom: 1px solid @primaryColor;
			}

			h3 {
				margin-bottom: 18px;

				span {
					color: white;
				}

			}

			p {
				font-size: 1em;
				margin-bottom: 12px;
			}

			img{
				max-height: 350px;

				@media @desktop{
					max-height: 250px;
				}
			}

		}

	}

	.faq-collapse-mobile{
		text-align: left;
		border-color: #D4BC7E;
		background:transparent;
		.ant-collapse-header{
			font-size: 1em;
			color: #D4BC7E;
		}
		.ant-collapse-content{
			border-top:1px solid #D4BC7E;
			background: #3b3b3d;
			color: #fff;
		}
		.ant-collapse-item{
			border-bottom:1px solid #D4BC7E;
		}
		.ant-collapse-content-box{
			h2{
				color: rgba(255,255,255,0.8);
			}
			h3{
				color: rgba(255,255,255,0.8);
				font-size: 1.1em;
				margin-bottom: 8px;
			}
			p{
				color: rgba(255,255,255,0.8);
				font-weight: normal;
				font-size:0.9em;
				text-indent: 1em;
			}

			img{
				width:100%;
				margin: 12px auto;
			}
		}
	}

	.page-term {
		margin-top: 3em;

		.page-term-title {
			text-align: center;
			color: @borderColor;
			font-size: 2em;
			margin-bottom: 1em;
		}

		.page-term-body {
			.page-term-body-inner {
				text-align: left;
				padding: 30px 60px;
				color: white;

				.highlight{
					color:@borderColor;
				}
				&.normal-font{
					font-size: 1.5em;
				}
				@media @phone{
					padding: 20px;
				}

				p {
					font-size: 1.1em;
					margin-bottom: 8px;
				}

			}

		}

	}

}

