@height: 80px;
@heightOnMobile: 60px;
@greyFontColor: #eee;

.refModal {
    .ant-modal-title {
        font-size: 1.5em;
        text-align: center;
        color: white
    }

    .ant-modal-header {
        background-color: grey;
        color: white;
        padding: 30px 30px 30px;
    }

    .ant-modal-body {
        padding-bottom: 30px;
        padding-left: 45px;
        padding-right: 45px;
        background-color: grey;
        color: white;
        border-radius: 0px 0px 4px 4px;

        @media @phone {
            padding-top: 0px;
            padding-left: 30px;
            padding-right: 30px;
        }

    }

    & * {
        border: none
    }

    .refmodal-container {
        text-align: center;

        .refmodal-container-description {
            margin-bottom: 18px;
        }

        .refmodal-container-button {
            button {
                width: 120px;
            }

        }

        .refmodal-container-input {
            display: flex;
            flex-wrap: wrap;

            &>div {
                margin-bottom: 20px;

                @media @phone {
                    width: 100%
                }

                &:first-of-type {
                    flex-grow: 2;
                    margin-right: 20px;
                    background-color: #444444;
                    padding: 0px 0 0px 10px;
                    border-radius: 5px;
                    font-size: 1.5em;
                    height: 32px;

                    @media @phone {
                        font-size: 1.2em;
                        margin-right: 0px;
                    }

                    span {
                        text-align: center;
                        width: 100%;
                        line-height: 32px;

                        &:hover {
                            cursor: pointer
                        }

                    }

                }

                &:nth-of-type(2) {
                    button {
                        max-width: 100%;
                        width: 8em;
                    }

                }

            }

        }

    }

    &.fairModal {
        .refmodal-container {
            text-align: left;
        }

        .fairCode {
            color: #FFF;
            background-color: #444444;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 1.3em;
            margin-bottom: 15px;
            height: 40px;
            line-height: 40px;
        }

        .fair-modal-btns {
            margin-bottom: 20px;
            text-align: center;

            button {
                margin: 0 5px;
                width: 120px;
                height: 40px;
            }

        }

        .modal-url{
            a{
                color:@primaryColor;
                font-size: 1.2em;
                font-weight: 500;
            }
        }

    }

    &.unstake-modal{
        .unstake-modal-title{
            font-size: 1.4em;
            margin-bottom: 8px;
        }

        .unstake-modal-text{
            margin-bottom: 12px;
            height: 65px;
        }

        .unstake-modal-btn{
            width: 100px;
        }
    }
}

.topbar {
    position: fixed;
    width: 100%;
    z-index: 10;

    // Set antd header color to transparent
    &.transparent {
        .ant-layout-header {
            background-color: transparent;
        }

    }

    .ant-layout-header {
        height: @height;
        line-height: @height;
        background-color: @bgColor;
        .transition(background-color .2s ease);

        img {
            width: 180px
        }

    }

    @media @phone {
        .ant-layout-header {
            padding-left: 0px;
            padding-right: 0px;
            height: @heightOnMobile;
            line-height: @heightOnMobile;

            img {
                width: 120px
            }

        }

    }

    .topbar-statswidget {
        display: flex;

        .ant-progress-text {
            color: @greyFontColor;
        }

        .ant-progress-circle-trail {
            stroke: @greyFontColor;
        }

        // The first element has margin-right
        &>div:first-child {
            margin-right: 16px;
        }

        .topbar-statswidget-cpu, .topbar-statswidget-net {
            position: relative;

            .topbar-statswidget-title {
                color: @topbarFontColor;
                line-height: 1em;
                font-size: 10px;
                font-weight: 500;
                text-align: center;
                margin-top: -3em;

                @media @phone {
                    font-size: 9px;
                    margin-top: -2.6em;
                }

                @media @xxl {
                    font-size: 9px;
                    margin-top: -2em;
                }

            }

        }

    }

}

.topbarWrapper {
    font-size: 1em;
    display: flex
}

.isoLeft, .isoRight {
    display: flex
}

.isoLeft {
    flex: 1 0 0;

    .logo-container {
        a {
            display: block;

            span {
                color: white;
                font-size: 2.2em;
                vertical-align: middle
            }

        }

        img {
            height: 48px;
            width: auto;
            vertical-align: middle;
            margin-right: 12px;

            @media @phone {
                height: 36px
            }

        }

    }

}

ul.menu-list {
    li {
        font-size: 1.4em;
        position: relative;
        padding-left: 18px;
        padding-right: 18px;

        a {
            display: block;
            height: 100%;
            color: @topbarFontColor;

            i {
                padding-left: 6px;
                font-size: 1em
            }

        }

        &:hover {
            background-color: rgba(153, 153, 153, 0.2);
            .transition(background-color .5s ease)
        }

        //


        // Underline style for topbar right
        &:after {
            content: "";
            display: block;
            height: 3px;
            bottom: 0;
            background-color: white;
            position: absolute;
            left: 50%;
            .transform(translateX(-50%));
            width: 0;
            -webkit-transition: width .5s ease, background-color .5s ease;
            -moz-transition: width .5s ease, background-color .5s ease;
            -ms-transition: width .5s ease, background-color .5s ease;
            -o-transition: width .5s ease, background-color .5s ease
        }

        &:hover:after {
            background-color: @borderColor;
            width: 100%
        }

    }

}

.isoRight {
    margin-bottom: 0;

    .triggerBtn {
        position: relative;
        padding: 9px 10px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        vertical-align: middle;

        .icon-bar {
            width: 22px;
            height: 2px;
            transition: all 0.2s;
            background-color: @borderColor;
            display: block;

            &:not(:first-of-type) {
                margin-top: 4px
            }

        }

        .top-bar {
            transform: rotate(45deg);
            transform-origin: 10% 10%
        }

        .middle-bar {
            opacity: 0
        }

        .bottom-bar {
            transform: rotate(-45deg);
            transform-origin: 10% 90%
        }

        &.menuCollapsed {
            .top-bar {
                transform: rotate(0deg)
            }

            .middle-bar {
                opacity: 1
            }

            .bottom-bar {
                transform: rotate(0deg)
            }

        }

    }

    li {
        &:not(:last-of-type) {
            margin-right: 16px;

            @media @phone {
                margin-right: 12px
            }

        }

        &.nav-btn {
            button {
                height: 38px;
                .border-radius(20px);
                font-size: 1.2em;
                width: 100px;
                border-color: @borderColor;
                color: @borderColor;
                background-color: transparent;

                &:hover {
                    background-color: #444444
                }

            }

            .account-menu {
                height: @height;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .account-menu-inner {
                    display: flex;
                    flex-direction: column;

                    span {
                        line-height: 1.5em;
                    }

                    span:nth-of-type(1) {
                        color: @topbarFontColor
                    }

                    span:nth-of-type(2) {
                        color: @topbarFontColor
                    }

                }

            }

        }

        .lang-menu-trigger {
            @triggerHeightOnMobile: 30px;

            .selected {
                display: inline-block;
                border: 1px solid @borderColor;
                .border-radius(100px);
                padding-left: 15px;
                padding-right: 15px;
                cursor: pointer;
                vertical-align: middle;

                .selected-inner {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &>* {
                        display: inline-block;
                        vertical-align: middle
                    }

                }

                @media @phone {
                    height: @triggerHeightOnMobile
                }

                img {
                    height: 20px;
                    width: auto;
                    margin-right: 8px;
                    .opacity(0.7);

                    @media @phone {
                        height: 16px
                    }

                }

                i {
                    line-height: 35px;
                    color: @borderColor;

                    @media @phone {
                        height: @triggerHeightOnMobile - 3px;
                        line-height: @triggerHeightOnMobile - 4px;
                        font-size: 2em
                    }

                }

            }

        }

    }

}

.lang-menu {
    flex-direction: column;

    .lang-menu-item {
        padding-left: 24px;
        padding-right: 24px
    }

}

.menu {
    background-color: @bgColor;
    border-bottom: 1px solid @borderColor;
    color: @borderColor;
    height: auto;
    max-height: 340px;
    font-size: 1em;
    overflow: hidden;
    .transition(max-height .5s ease);

    @media @phone {
        font-size: 1.4em
    }

    ul {
        display: flex;
        flex-direction: column;

        li {
            height: 4em;
            line-height: 4em;
            text-align: center;

            &:last-of-type {
                border-top: 1px solid @borderColor
            }

        }

    }

    a {
        display: block;
        height: 100%;
        width: 100%;
        color: @topbarFontColor
    }

    &.menuCollapsed {
        max-height: 0px;
        border: 0px
    }

}
