.topbar{
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: white;
}

.topbarWrapper {
  font-size: 16px;
  display: flex;
}

.isoLeft,
.isoRight {
  display: flex;
}

.isoLeft {
  flex: 1 0 0;
}

.isoRight li {

  position: relative;
  padding-left: 18px;
  padding-right: 18px;

  a {
    color: @fontColor;

    i {
      padding-left: 6px;
      font-size: 16px;
    }
  } 


  // border style for the last <li><a>
  &:last-of-type a {
    border: 1px solid @fontColor;
    padding: 6px 12px;

    i {
      font-weight: 700;
      margin-right: 4px;
    }

    &:hover{
      background-color: rgba(153,153,153,0.2);
      .transition(background-color .5s ease);
    }
  }

  // Underline style for topbar right
  &:not(:last-of-type) {

    &:after {
      content: "";
      display: block;
      height: 3px;
      bottom: 0;
      background-color: white;
      position: absolute;
      left: 50%;
      .transform(translateX(-50%));

      width: 0;
      -webkit-transition: width .5s ease, background-color .5s ease;
      -moz-transition: width .5s ease, background-color .5s ease;
      -ms-transition: width .5s ease, background-color .5s ease;
      -o-transition: width .5s ease, background-color .5s ease;
    }

    &:hover:after {
      background-color: @fontColor;
      width: 100%;
    }
  }
}

.ant-modal-content{
  .ant-modal-footer {
    text-align: center;
  }
}