.topbar {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: white;

  @media @phone {
    .ant-layout-header {
      padding-left: 0px;
      padding-right: 0px;

      img {
        width: 100px;
      }
    }
  }
}

.topbarWrapper {
  font-size: 16px;
  display: flex;
}

.isoLeft,
.isoRight {
  display: flex;
}

.isoLeft {
  flex: 1 0 0;

  .logo-container {

    a {
      display: block;
    }

    img {
      vertical-align: middle;
    }
  }
}

.isoRight {

  .triggerBtn {
    width: 24px;
    height: 100%;
    display: -webkit-inline-flex;
    display: -ms-inline-flex;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    outline: 0;
    position: relative;
    cursor: pointer;

    &:before {
      content: '\f20e';
      font-family: 'Ionicons';
      font-size: 26px;
      color: inherit;
      line-height: 0;
      position: absolute;
    }
  }
  
  li {

    position: relative;
    padding-left: 18px;
    padding-right: 18px;

    a {
      color: @fontColor;

      i {
        padding-left: 6px;
        font-size: 16px;
      }
    } // border style for the last <li><a>
    &:last-of-type a {
      border: 1px solid @fontColor;
      padding: 6px 12px;

      i {
        font-weight: 700;
        margin-right: 4px;
      }

      &:hover {
        background-color: rgba(153, 153, 153, 0.2);
        .transition(background-color .5s ease);
      }
    } // Underline style for topbar right
    &:not(:last-of-type) {

      &:after {
        content: "";
        display: block;
        height: 3px;
        bottom: 0;
        background-color: white;
        position: absolute;
        left: 50%;
        .transform(translateX(-50%));

        width: 0;
        -webkit-transition: width .5s ease, background-color .5s ease;
        -moz-transition: width .5s ease, background-color .5s ease;
        -ms-transition: width .5s ease, background-color .5s ease;
        -o-transition: width .5s ease, background-color .5s ease;
      }

      &:hover:after {
        background-color: @fontColor;
        width: 100%;
      }
    }
  }
}

.ant-modal-content {
  .ant-modal-footer {
    text-align: center;
  }
}